# Join DataFrames Along Columns

<code>
Write a Pandas program to join the two given DataFrames along columns and assign all data.
</code>

### Test Data

#### student_data1

| student_id | name               | marks |
|------------|-------------------|-------|
| S1         | Danniella Fenton  | 200   |
| S2         | Ryder Storey      | 210   |
| S3         | Bryce Jensen      | 190   |
| S4         | Ed Bernal         | 222   |
| S5         | Kwame Morin       | 199   |

#### student_data2

| student_id | name               | marks |
|------------|-------------------|-------|
| S4         | Scarlette Fisher  | 201   |
| S5         | Carla Williamson  | 200   |
| S6         | Dante Morse       | 198   |
| S7         | Kaiser William    | 219   |
| S8         | Madeeha Preston   | 201   |

In [1]:
import pandas as pd

student_data1 = pd.DataFrame({
    'student_id': ['S1','S2','S3','S4','S5'],
    'name': ['Danniella Fenton','Ryder Storey','Bryce Jensen','Ed Bernal','Kwame Morin'],
    'marks': [200,210,190,222,199]
})

student_data2 = pd.DataFrame({
    'student_id': ['S4','S5','S6','S7','S8'],
    'name': ['Scarlette Fisher','Carla Williamson','Dante Morse','Kaiser William','Madeeha Preston'],
    'marks': [201,200,198,219,201]
})

joined = pd.concat([student_data1, student_data2], axis=1)

print(joined)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201