# Highlight NaN Values

<code>
Create a DataFrame of ten rows and four columns with random values.
Convert some values to NaN values.
Write a Pandas program to highlight the NaN values.
</code>

In [3]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])

# Introduce NaN values
df.iloc[1, 2] = np.nan
df.iloc[4, 0] = np.nan
df.iloc[7, 3] = np.nan

def highlight_nans(val):
  
    color = 'background-color: yellow' if pd.isna(val) else ''
    return color

styled_df = df.style.applymap(highlight_nans)

styled_df

C:\Users\JayKalsariya\AppData\Local\Temp\ipykernel_24132\3499032148.py:16: FutureWarning: Styler.applymap has been deprecated. Use Styler.map instead.
  styled_df = df.style.applymap(highlight_nans)