# Grouping by Customer ID â€“ Purchase Amount Aggregation

<code>
Write a Pandas program to split a dataset, group by one column and get mean, min,
and max values by group. Using the given dataset, find the mean, minimum,
and maximum values of purchase amount (purch_amt) grouped by customer_id.
</code>

### Test Data

| ord_no | purch_amt | ord_date   | customer_id | salesman_id |
|--------|-----------|------------|-------------|-------------|
| 70001  | 150.50    | 2012-10-05 | 3005        | 5002        |
| 70009  | 270.65    | 2012-09-10 | 3001        | 5005        |
| 70002  | 65.26     | 2012-10-05 | 3002        | 5001        |
| 70004  | 110.50    | 2012-08-17 | 3009        | 5003        |
| 70007  | 948.50    | 2012-09-10 | 3005        | 5002        |
| 70005  | 2400.60   | 2012-07-27 | 3007        | 5001        |
| 70008  | 5760.00   | 2012-09-10 | 3002        | 5001        |
| 70010  | 1983.43   | 2012-10-10 | 3004        | 5006        |
| 70003  | 2480.40   | 2012-10-10 | 3009        | 5003        |
| 70012  | 250.45    | 2012-06-27 | 3008        | 5002        |
| 70011  | 75.29     | 2012-08-17 | 3003        | 5007        |
| 70013  | 3045.60   | 2012-04-25 | 3002        | 5001        |

In [1]:
import pandas as pd

data = {
    'ord_no': [70001,70009,70002,70004,70007,70005,70008,70010,70003,70012,70011,70013],
    'purch_amt': [150.50,270.65,65.26,110.50,948.50,2400.60,5760.00,1983.43,2480.40,250.45,75.29,3045.60],
    'ord_date': ['2012-10-05','2012-09-10','2012-10-05','2012-08-17','2012-09-10','2012-07-27',
                 '2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id': [3005,3001,3002,3009,3005,3007,3002,3004,3009,3008,3003,3002],
    'salesman_id': [5002,5005,5001,5003,5002,5001,5001,5006,5003,5002,5007,5001]
}

df = pd.DataFrame(data)

result = df.groupby('customer_id')['purch_amt'].agg(['mean','min','max'])

print(result)

                    mean      min      max
customer_id
3001          270.650000   270.65   270.65
3002         2956.953333    65.26  5760.00
3003           75.290000    75.29    75.29
3004         1983.430000  1983.43  1983.43
3005          549.500000   150.50   948.50
3007         2400.600000  2400.60  2400.60
3008          250.450000   250.45   250.45
3009         1295.450000   110.50  2480.40