# Create 64-bit Integer and Float Index Labels

<code>
Write a Pandas program to create index labels using 64-bit integers and floating-point numbers
in a given DataFrame.
</code>

### Test Data

| idx | school_code | class | name             | dob        | age | street  | id |
|-----|------------|-------|------------------|------------|-----|---------|----|
| 0   | s001       | V     | Alberto Franco   | 15/05/2002 | 35  | street1 | t1 |
| 1   | s002       | V     | Gino Mcneill     | 17/05/2002 | 32  | street2 | t2 |
| 2   | s003       | VI    | Ryan Parkes      | 16/02/1999 | 33  | street3 | t3 |
| 3   | s001       | VI    | Eesha Hinton     | 25/09/1998 | 30  | street1 | t4 |
| 4   | s002       | V     | Gino Mcneill     | 11/05/2002 | 31  | street2 | t5 |
| 5   | s004       | VI    | David Parkes     | 15/09/1997 | 32  | street4 | t6 |

In [1]:
import pandas as pd
import numpy as np

data = [
    ['s001','V','Alberto Franco','15/05/2002',35,'street1','t1'],
    ['s002','V','Gino Mcneill','17/05/2002',32,'street2','t2'],
    ['s003','VI','Ryan Parkes','16/02/1999',33,'street3','t3'],
    ['s001','VI','Eesha Hinton','25/09/1998',30,'street1','t4'],
    ['s002','V','Gino Mcneill','11/05/2002',31,'street2','t5'],
    ['s004','VI','David Parkes','15/09/1997',32,'street4','t6']
]

columns = ['school_code','class','name','dob','age','street','id']

df = pd.DataFrame(data, columns=columns)

df_int = df.copy()
df_int.index = np.array(df.index, dtype='int64')

df_float = df.copy()
df_float.index = np.array(df.index, dtype='float64')

print("64-bit Integer Index:")
print(df_int)
print("\n64-bit Float Index:")
print(df_float)

64-bit Integer Index:
  school_code class            name         dob  age   street  id
0        s001     V  Alberto Franco  15/05/2002   35  street1  t1
1        s002     V    Gino Mcneill  17/05/2002   32  street2  t2
2        s003    VI     Ryan Parkes  16/02/1999   33  street3  t3
3        s001    VI    Eesha Hinton  25/09/1998   30  street1  t4
4        s002     V    Gino Mcneill  11/05/2002   31  street2  t5
5        s004    VI    David Parkes  15/09/1997   32  street4  t6

64-bit Float Index:
    school_code class            name         dob  age   street  id
0.0        s001     V  Alberto Franco  15/05/2002   35  street1  t1
1.0        s002     V    Gino Mcneill  17/05/2002   32  street2  t2
2.0        s003    VI     Ryan Parkes  16/02/1999   33  street3  t3
3.0        s001    VI    Eesha Hinton  25/09/1998   30  street1  t4
4.0        s002     V    Gino Mcneill  11/05/2002   31  street2  t5
5.0        s004    VI    David Parkes  15/09/1997   32  street4  t6