### Load a CSV file into a Pandas DataFrame.

In [1]:
import pandas as pd

df = pd.read_csv("./COUNTRIES.csv")

df.head()

  country_id country_name  region_id
0         AR    Argentina          2
1         AU    Australia          3
2         BE      Belgium          1
3         BR       Brazil          2
4         CA       Canada          2

### Select the first and last 7 rows of a Pandas DataFrame.

In [4]:
df.head(7)

  country_id country_name  region_id
0         AR    Argentina          2
1         AU    Australia          3
2         BE      Belgium          1
3         BR       Brazil          2
4         CA       Canada          2
5         CH  Switzerland          1
6         CN        China          3