# Grouping by Multiple Columns

<code>
Write a Pandas program to group data by multiple columns 
to perform complex data analysis and aggregations.
</code>

In [1]:
import pandas as pd

# Sample DataFrame
data = {
    'Department': ['IT', 'IT', 'HR', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Employee': ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H'],
    'Year': [2022, 2023, 2022, 2023, 2022, 2023, 2022, 2023],
    'Salary': [60000, 65000, 50000, 52000, 70000, 72000, 63000, 54000]
}

df = pd.DataFrame(data)

print("Original Data:\n")
print(df)

# Group by multiple columns
grouped = df.groupby(['Department', 'Year']).agg(
    Total_Salary=('Salary', 'sum'),
    Average_Salary=('Salary', 'mean'),
    Min_Salary=('Salary', 'min'),
    Max_Salary=('Salary', 'max'),
    Employee_Count=('Employee', 'count')
)

print("\nGrouped Data (Department & Year):\n")
print(grouped)

Original Data:

  Department Employee  Year  Salary
0         IT        A  2022   60000
1         IT        B  2023   65000
2         HR        C  2022   50000
3         HR        D  2023   52000
4    Finance        E  2022   70000
5    Finance        F  2023   72000
6         IT        G  2022   63000
7         HR        H  2023   54000

Grouped Data (Department & Year):

                 Total_Salary  Average_Salary  Min_Salary  Max_Salary  \
Department Year
Finance    2022         70000         70000.0       70000       70000
           2023         72000         72000.0       72000       72000
HR         2022         50000         50000.0       50000       50000
           2023        106000         53000.0       52000       54000
IT         2022        123000         61500.0       60000       63000
           2023         65000         65000.0       65000       65000

                 Employee_Count
Department Year
Finance    2022               1
           2023               1
HR         2022               1
           2023               2
IT         2022               2
           2023               1