# Selecting a Specific Group

<code>
Write a Pandas program to split the given DataFrame into groups based on school code
and select a specific group by its group name.
</code>

### Test Data

| ID | school | class | name             | date_Of_Birth | age | height | weight | address |
|----|--------|-------|------------------|---------------|-----|--------|--------|---------|
| S1 | s001   | V     | Alberto Franco   | 15/05/2002    | 12  | 173    | 35     | street1 |
| S2 | s002   | V     | Gino Mcneill     | 17/05/2002    | 12  | 192    | 32     | street2 |
| S3 | s003   | VI    | Ryan Parkes      | 16/02/1999    | 13  | 186    | 33     | street3 |
| S4 | s001   | VI    | Eesha Hinton     | 25/09/1998    | 13  | 167    | 30     | street1 |
| S5 | s002   | V     | Gino Mcneill     | 11/05/2002    | 14  | 151    | 31     | street2 |
| S6 | s004   | VI    | David Parkes     | 15/09/1997    | 12  | 159    | 32     | street4 |

In [1]:
import pandas as pd

data = {
    'school': ['s001','s002','s003','s001','s002','s004'],
    'class': ['V','V','VI','VI','V','VI'],
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes','Eesha Hinton','Gino Mcneill','David Parkes'],
    'date_Of_Birth': ['15/05/2002','17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [12,12,13,13,14,12],
    'height': [173,192,186,167,151,159],
    'weight': [35,32,33,30,31,32],
    'address': ['street1','street2','street3','street1','street2','street4']
}

df = pd.DataFrame(data, index=['S1','S2','S3','S4','S5','S6'])

grouped = df.groupby('school')

print(grouped.get_group('s001'))

   school class            name date_Of_Birth  age  height  weight  address
S1   s001     V  Alberto Franco    15/05/2002   12     173      35  street1
S4   s001    VI    Eesha Hinton    25/09/1998   13     167      30  street1