# Identify Columns with Missing Values

<code>
Write a Pandas program to identify the column(s) of a given DataFrame
which have at least one missing value.
</code>

### Test Data

| ord_no  | purch_amt | ord_date   | customer_id | salesman_id |
|---------|-----------|------------|-------------|-------------|
| 70001.0 | 150.50    | 2012-10-05 | 3002        | 5002.0      |
| NaN     | 270.65    | 2012-09-10 | 3001        | 5003.0      |
| 70002.0 | 65.26     | NaN        | 3001        | 5001.0      |
| 70004.0 | 110.50    | 2012-08-17 | 3003        | NaN         |
| NaN     | 948.50    | 2012-09-10 | 3002        | 5002.0      |
| 70005.0 | 2400.60   | 2012-07-27 | 3001        | 5001.0      |
| NaN     | 5760.00   | 2012-09-10 | 3001        | 5001.0      |
| 70010.0 | 1983.43   | 2012-10-10 | 3004        | NaN         |
| 70003.0 | 2480.40   | 2012-10-10 | 3003        | 5003.0      |
| 70012.0 | 250.45    | 2012-06-27 | 3002        | 5002.0      |
| NaN     | 75.29     | 2012-08-17 | 3001        | 5003.0      |
| 70013.0 | 3045.60   | 2012-04-25 | 3001        | NaN         |

In [1]:
import pandas as pd
import numpy as np

data = {
    'ord_no': [70001,np.nan,70002,70004,np.nan,70005,np.nan,70010,70003,70012,np.nan,70013],
    'purch_amt': [150.50,270.65,65.26,110.50,948.50,2400.60,5760.00,1983.43,2480.40,250.45,75.29,3045.60],
    'ord_date': ['2012-10-05','2012-09-10',np.nan,'2012-08-17','2012-09-10','2012-07-27',
                 '2012-09-10','2012-10-10','2012-10-10','2012-06-27','2012-08-17','2012-04-25'],
    'customer_id': [3002,3001,3001,3003,3002,3001,3001,3004,3003,3002,3001,3001],
    'salesman_id': [5002,5003,5001,np.nan,5002,5001,5001,np.nan,5003,5002,5003,np.nan]
}

df = pd.DataFrame(data)

cols_with_missing = df.columns[df.isnull().any()]

print(cols_with_missing)

Index(['ord_no', 'ord_date', 'salesman_id'], dtype='object')